{
  "serverId": "",
  "setRoleChannel": "",
  "clientId": "",
  "owners": [],
  "reaction_roles": [
    {
      "message": 11111,
      "roles": [
        {
          "sticker": "\uD83C\uDDEE",
          "role": 111111
        }
      ]
    }
  ]
}
